page-signup-password {
    ion-header {
        background-color: rgba(69, 223, 214, 0.1);
        padding-bottom: 10px;
        padding-top: 10px;
    }

    ion-content {
        background-image: url('./../images/signup-background.jpg');
    }

    .toolbar {
        min-height: inherit !important;
    }
    .toolbar-background {
        background-color: inherit;
    }

    .scroll-content {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}
